@use 'sass:math';
@import "../../styles/constants.scss";

.book_container {
    background-color: $colour_background;
    padding: 5px;
    margin-top: 30px;
    display: block;

    @media (min-width: $breakpoints_tablet) {
        display: flex;
        justify-content: center;
    }

    .header {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;

        li {
            opacity: 0.5;
            font-weight: 800;
            margin: 10px 0;
        }
    }

    .order_book {
        margin-top: 20px;
        font-family: $layout_font_terminal;

        li {
            display: flex;
            justify-content: space-around;
            margin-bottom: 3px;

            span {
                text-align: left;
                width: 80px;
                padding-left: 35px;
            }
        }
    }

    .order_section {
        width: 100%;

        @media (min-width: $breakpoints_tablet) {
            width: 50%;
        }

        &.bids {
            .price {
                color: $colour_price_green;
            }
        }

        &.asks {
            .price {
                color: $colour_price_red;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    // Generate backgrounds
    @for $i from 0 through 100 {
        $colored-percentage: percentage(math.div($i,100));
        $empty-percentage: percentage(math.div(100-$i,100));
        .bg-green-#{$i} {
            background: linear-gradient(90deg, transparent $empty-percentage, $colour_price_bg_green 0);
        }
        .bg-red-#{$i} {
            background: linear-gradient(-90deg, transparent $colored-percentage, $colour_price_bg_red 0);
        }
    }

}