// Colours
$colour_main: #72dfd0;
$colour_background: #02091f;
$colour_price_green: #44e644;
$colour_price_red: #f33232;
$colour_price_bg_green: #00ff1433;
$colour_price_bg_red: #ff000040;

// Layout and grid size
$layout_font_main:  "sans-serif";
$layout_font_terminal:  "Lucida Console", "Courier New", monospace;
$layout_max_size: 1250px;

// View and Breakpoints
$breakpoints_mobile: 480px;
$breakpoints_tablet: 736px;